html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 29px; //height of the footer
  background-color: red;
}  



.page-header h1 {
	color: red;
}


.promotion-inner {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.promotion-inner .promotion-single {
	height: 280px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.promotion-inner .promotion-single.half {
	width: 50%;
}

.promotion-inner .promotion-single.third {
	width: 33.3333%;
}

.promotion-inner .promotion-single-inner {
	background-size: cover;
	background-position: center center;
	height: 100%;
	position: relative;
}

.promotion-inner .promotion-single-inner .btn-white {
	background-color: #fff;
}

.promotion-inner .promotion-single-inner .btn-wrap {
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	text-align: center;
}

